name: Build App
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Tools
        run: pip install flet yt-dlp
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Build APK
        run: flet build apk
      - uses: actions/upload-artifact@v4
        with:
          name: downloader-apk
          path: build/apk/*.apk
